* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
    
    line-height: 1.6;
    
}

/* Navbar Styles */
.navbar {
    background: white;
    padding: 1rem 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-logo img {
    width: 135px;
    height: 82px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff6b35;
}

.nav-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: #2c3e50;
}

.nav-cart img {
    width: 20px;
    height: 20px;
}